    @font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(droidsans.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(OpenSans-Light-webfont.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed'), url(RobotoCondensed-Regular-webfont.woff) format('woff');
}
@font-face {
 font-family: 'Raleway';
 font-style: normal;
 font-weight: 200;
 src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(8KhZd3VQBtXTAznvKjw-kxsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
 font-family: 'Raleway';
 font-style: normal;
 font-weight: 300;
 src: local('Raleway Light'), local('Raleway-Light'), url(-_Ctzj9b56b8RgXW8FAriRsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
a{
    text-decoration: none;
    color: inherit;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    font-family: 'Open Sans', sans-serif;
}
div,h1,p{
    margin: 0;
    padding: 0;
}
header {
    margin-bottom: 16px;
    box-sizing: border-box;
    background-color: #21b384;
    position: relative;
    text-align: center;
    border-bottom: 1px solid #98b354;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .htitle{
    font-size: 25px;
    font-family: 'Raleway';
    font-weight: 100;
    color: #FFF;
    line-height: 70px;
/*
    text-shadow: 1px 1px 5px #DDD;
*/
}
header .short{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
header .long{
    display: none;
}
header img{
    width: 70px;
    margin-right: 10px;
}
header p{
}
header nav{
    display: none;
}
header nav ul{
    padding: 0;
    margin: 0;
    text-align: center;
}
header nav ul li{
    font-size: 0.85em;
    display: inline-block;
    margin: 0 0.5em;
    line-height: 70px;
    color: #FFF;
}
header nav ul li a{
/*
    border-bottom: 2px solid #DDD;
*/
}
header nav ul li a:HOVER{
    border-bottom: 2px solid #278768;
}
header button{
    color: #444;
    background: none;
    border: none;
    margin: 10px;
    display: flex;
    flex-direction: wrap;
    outline: none;
}
.mainpage{
    box-sizing: border-box;
    width: 100%;
    min-height: 50vh;
}
.container{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 1em;
}
.box{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    align-content: space-around;
}
.row{
    margin: 15px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    align-content: space-around;
}
.w-300{
    width: 300px;
    min-height: 220px;
    align-items: center;
    justify-content: center;
}
.w-900{
    width: 900px;
    min-height: 220px;
}
.w-500{
    width: 100%;
    min-height: 220px;
    align-items: center;
}
.w-600{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    align-content: space-around;
    justify-content: center;
}
.about{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    align-content: space-around;
    justify-content: flex-start;
    flex-basis: 70%;
    line-height: 1.5em;
    margin-top: 20px;
}
.about_heading{
    font-size: 30px;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    align-content: space-around;
    justify-content: flex-start;
    flex-basis: 70%;
    margin-top: 30px;
}
.w-full{
    width: 100%;
    min-height: 200px;
    margin: 0px auto;
    align-content: space-around;
}
.w-half{
    width: 100%;
    min-height: 200px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
}
.w-half p{
    max-width: 50%;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    align-content: space-around;
    margin-bottom: 100px;
}
.circle{
    line-height: 100px;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: #FFF;
    font-size: 1.5em;
    font-weight: bold;
}
.desc{
    line-height: 100px;
    margin-left: 10px;
    font-size: 1.1em;
}
footer{
    box-sizing: border-box;
    background-color: #F0F0F0;
    text-align: center;
    min-height: 70px;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
    color: #444;
}
footer p{
    width: 300px;
    font-size: 0.9em;
    line-height: 2em;
}
.biggest{
    font-size: 40px;
}
.large{
    font-size: 50px;
}
.larger{
    font-size: 75px;
}
.largest{
    font-size: 100px;
}
.largest-text{
    font-size: 70px;
}
.big{
    font-size: 30px;
}
.small{
    font-size: 20px;
}
.tiny{
    font-size: 15px;
}
.tinier{
    font-size: 12px;    
}
.clr1{
    color: #777;
}
.clr2{
    color: #3372df;
}
.clr3{
    color: #AAA;
}
.clr4{
    color: #555;
}
.clr5{
    color: #da2e75;
}
.clr6{
    color: #8e4497;
}
.bgclr1{
    background-color: #224687;
}
.bgclr2{
    background-color: #00bcd4;
}
.bgclr3{
    background-color: #f9b24f;
}
.bgclr4{
    background-color: #8e4497;
}
.bgclr5{
    background-color: #da2e75;
}
.pall{
    padding: 10px;
    text-shadow: 1px 1px 1px #DDD;
}
.gText{
    line-height: 1.75em;
    background-color: #333;
    color: #FFF;
    padding: 2em;
}
.dText{
    line-height: 1.5em;
    padding-left: 1em;
}
.dText img{
    width: 85px;
}
.tcenter{
    text-align: center;
    justify-content: center;
    width: 100%;
}
.icon{
    width: 175px;
    font-size: 80px;
    color: #BBB;
    line-height: 0px;
    margin-bottom: 60px;
}
.icon a{
    display: inline-block;
    transition: color 0.3s ease-out;
}
.icon a:HOVER{
    color: #3372df;
    transition: color 0.3s ease-out;
}
.gapBelow{
    margin-bottom: 50px;
}
.gapLeft{
    margin-left: 10px;
}
#row4{
    margin-top: 75px;
}
.b-right{
    border-right: 2px solid #da2e75;
}
.serif{
    font-family: serif;
}
.itl{
    font-style: italic;
}
.yes-ul a:HOVER{
    text-decoration: underline;
}
.bld{
    font-weight: bold;
}
.o-full{
    flex-basis: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card-holder{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card-holder-desc{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.card{
    width: 100%;
    border: 2px solid #fcfcfc;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.card img{
    font-size: 0.9em;
    max-width: 75px;
    border-right: 1px solid #3372df;
    padding-right: 10px;
    margin-right: 10px;    
}
.l-edge-hl1{
    border-left: 5px solid #3372df;
}
.l-edge-hl2{
    border-left: 5px solid #21b384;
}
.l-edge-hl3{
    border-left: 5px solid #f9b24f;
}
.card .title{
    font-size: 1em;
    max-width: 180px;
}
.card .others{
    font-size: 1em;
    margin-top: 10px;
}
.card .others .heading{
    color: #3372df;
    font-size: 20px;
}
.card .link{
    font-size: 1em;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}
.card h2{
    font-size: 1em;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}
.pDesc{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    align-content: center;
    flex-basis: 70%;
}
.pDesc .awards{
    flex-grow: 1;
    text-align: right;
    margin-right: 20px;
}
.pDesc .awards i{
    font-size: 30px;
    margin: 10px 0;
}
.title-bar{
    text-align: center;
    font-size: 15px;
    padding: 15px;
    flex-basis: 100%;
}
.big-dot{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.search{
	width: 300px;
	margin: 30px auto 30px auto;
	min-height: 100px;
}
.search ul li{
	margin-bottom: 1em;
    list-style-type: none;
}
.search h2{
	
}
.search label{
    margin-top: 3px;
    display:inline-block;
    padding:3px 3px 3px 0px;
}
.search input[type=text], .search input[type=password]{
    height:20px; 
    width:95%; 
    padding:5px 8px;
    border: 1px solid #AAA;
    border-radius: 3px;
    outline: none;
}
.search select{
    background: none;
    height:32px; 
    padding:5px 8px;
    border: 1px solid #AAA;
    border-radius: 3px;
}
.search input[type=submit], .search input[type=reset]{
    width:100px; 
    padding:5px 8px;
    border: 1px solid #AAA;
    border-radius: 3px;
    margin-top: 1em;
    background: none;
}
.search textarea{
    padding:8px;
    width:95%;
    border: 1px solid #AAA;
    height: 100px;
    border-radius: 3px;
}
.search button, .search button{
    margin-left:156px;
}
.forgotPassword:ACTIVE{
    text-decoration: underline;
}
#pr_email_show{
    display: none;
}
.fright{
    float: right;
}
.seriesPop{
    align-self: flex-start;
    text-align: center;
    margin-top: -40px;
    margin-right: -40px;
    background-color: #224687;
    color: #FFF;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    box-shadow: 2px 1px 1px #888;
}
.seriesPop .series{
    font-size: 1em;
    font-weight: bold;
}
.seriesPop .year{
    font-size: 0.8em;
}
@media all and (min-width: 1024px) {
    .mainpage {
        width: 90vw;
        margin: 3em auto;
        min-height: 70vh;
    }
    header{
        padding: 0;
        justify-content: space-between;
    }
    header nav ul li{
        font-size: 0.9em;
        display: inline-block;
        margin: 0 1em;
        line-height: 70px;
    }
    header .long{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    header .short{
        display: none;
    }
    header nav{
        display: block;
    }
    header button{
        display: none;
    }
    .w-300{
        min-height: 300px;
    }
    .w-900{
        min-height: 300px;
    }
    .w-500{
        width: 500px;
    }
    .w-50pad{
        padding: 0 15%;
        font-style: italic;
    }
    .container{
        margin-bottom: 2em;
    }
    .gText{
        padding: 2em;
        background-color: #FFF;
        color: #222;
        font-size: 1.1em;
        line-height: 2em;
    }
    .bquote{
        font-family: serif;
    }
    .bquote:before {
        position: absolute;
        content: "\201C";
        font-size: 120px;
        color: #7a7a7a;
        margin-top: 30px;
        margin-left: -70px;
        font-family: serif;
    }
    .w-half{
        width: 480px;
    }
    .card{
        width: 300px;
    }
    .title-bar{
        font-size: 25px;
    }
    .pDesc .awards{
        margin-right: 100px;
    }
    .pDesc .awards{
        flex-grow: 1;
        text-align: right;
        margin-right: 20px;
    }
    .pDesc .awards i{
        font-size: 50px;
        margin: 0 10px;
    }
}
@media all and (min-width: 1200px) {
    header{
        padding: 0 5em;
    }
    .w-50pad{
        padding: 0 15%;
        font-style: italic;
    }
    .w-full-pad{
        padding: 0 15%;
    }
    .w-half{
        padding: 0 0%;
    }
}
